extends ./layout.pug
block head 
    title #{title}
block content 
    main 
        if users.length > 0
            each user in users  
                .cards 
                    .card
                        p.num #{user.number}
                        p.name #{user.name}
                        p.email #{user.email}
                        button.edit Edit 
                        button.delete Delete 
        else 
            h1 No Users